<div class="container">
    <div class="container-title">UserName</div>
    <div class="whole-messages">
    <div class="message-title-user"><p>Messages</p></div>
        <div class="whole-user-messages">
            <div class="user-messages" *ngFor="let user of users" (click)="SelectUserMessage(user.Id)">
            
            <div class="user-image">
                <i class="rounded-image"></i>
            </div>
            <div class="user-info">
                <p class="user-name">{{user.Name}}</p>
                <p class="user-lastseen">18 minutes</p>
            </div>
            </div>
            </div>
        </div>
    
    </div>