
<div class="container">
    <div class="row nav-item-row">
        <nav>
        <div class="nav-item">
            <a class="log">Home Page</a>
            <a class="log">Faq</a>
        </div>
        <div class="nav-item log-in">
            <a class="log" [routerLink]="'login'">Log In</a>
            <a class="log">Log Out</a>
        </div>
       
          </nav>
    </div>
  <div class="row row-section">
    <section>
        <div class="session-content">
            <div class="content-info">
                <h1>Talk To AnyTime</h1>
                <p>Here is a app to transform your life   </p>
                   <p> you have control of your talks anytime</p>
             
                <a class="info" [routerLink]="'login'">Click to Access the app without Problems</a>
            </div>
        </div>
        <div class="session-content phone">
            <img src="assets/images/tel.JPG" alt="phone-image" />
        </div>
    </section>
  </div>
    
  
</div>